In [173]:
import pandas as pd

# Get dataframes of each feature, do some post-processing

In [174]:
predictions_dict = {}

### Camera angle

In [175]:
df_cam_angle = pd.read_csv('/Users/thomaslim/qca-ig-posts/image-content-features/classification/camera-angle/image_201509_onlyrefugee_cam_angle.csv')
# change index and column name
df_cam_angle.set_index('image', inplace=True)
df_cam_angle.drop('Unnamed: 0', axis=1, inplace=True)
df_cam_angle.columns = ['cam_angle']

# Perform regex on image name to get image id e.g. /Users/thomaslim/data/image_201509_onlyrefugee/6400.jpg -> 6400.jpg
df_cam_angle.index = df_cam_angle.index.str.extract('(\d+\.jpg)', expand=False)
df_cam_angle.head()

           cam_angle
image
6400.jpg   -2.010308
3578.jpg    1.046379
2666.jpg    0.069447
10447.jpg  -3.701865
1409.jpg   -0.451987

In [176]:
predictions_dict['camera_angle'] = df_cam_angle

### Color diversity

In [177]:
df_color_diversity = pd.read_csv('/Users/thomaslim/qca-ig-posts/image-content-features/classification/color-diversity/color_entropy.csv')
df_color_diversity.set_index('Unnamed: 0', inplace=True)
df_color_diversity.rename_axis('image', axis=0,inplace=True)

df_color_diversity.index = df_color_diversity.index.str.extract('(\d+\.jpg)', expand=False)
df_color_diversity.head()

          color_entropy
image
9743.jpg      18.740482
9734.jpg      22.222360
9740.jpg      15.738178
9739.jpg      23.142397
9718.jpg      23.118996

In [178]:
predictions_dict['color_diversity'] = df_color_diversity

### Age-gender-race

In [179]:
df_age_gender_race = pd.read_csv('/Users/thomaslim/qca-ig-posts/image-content-features/object-detection/age_gender_race/image_201509_onlyrefugee_age_gender_race.csv')
df_age_gender_race.set_index('Unnamed: 0', inplace=True)
df_age_gender_race.rename_axis('image', axis=0,inplace=True)

df_age_gender_race.index = df_age_gender_race.index.str.extract('(\d+\.jpg)', expand=False)
df_age_gender_race.head()

,AdultFemaleAA,AdultFemaleAsian,AdultFemaleLat,AdultFemaleWhite,AdultMaleAA,AdultMaleAsian,AdultMaleLat,AdultMaleWhite,Animal,AnimatedAnimal,...,TeenMaleLat,TeenMaleWhite,ToddlerFemaleAA,ToddlerFemaleAsian,ToddlerFemaleLat,ToddlerFemaleWhite,ToddlerMaleAA,ToddlerMaleAsian,ToddlerMaleLat,ToddlerMaleWhite
image,,,,,,,,,,,,,,,,,,,,,
9743.jpg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9734.jpg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9740.jpg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9739.jpg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9718.jpg,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [180]:
predictions_dict['age_gender_race'] = df_age_gender_race

### Camera shot

In [181]:
df_camera_shot = pd.read_csv('/Users/thomaslim/qca-ig-posts/image-content-features/object-detection/camera-shot/image_201509_onlyrefugee_camera_shot.csv')
df_camera_shot.set_index('Unnamed: 0', inplace=True)
df_camera_shot.rename_axis('image', axis=0,inplace=True)
# For each row, find the column which has the highest value and set that value to 1 and rest to 0
df_camera_shot = df_camera_shot.eq(df_camera_shot.max(1), axis=0).astype(int)

df_camera_shot.index = df_camera_shot.index.str.extract('(\d+\.jpg)', expand=False)
df_camera_shot.head()

          CS  ECS  FS  LS  MS
image
9743.jpg   1    0   0   0   0
9734.jpg   1    0   0   0   0
9740.jpg   1    0   0   0   0
9739.jpg   0    0   1   0   0
9718.jpg   0    0   0   0   1

In [182]:
predictions_dict['camera_shot'] = df_camera_shot

### Eye-contact

In [183]:
df_eye_contact = pd.read_csv('/Users/thomaslim/qca-ig-posts/image-content-features/object-detection/eye-contact/looking_output/image_201509_onlyrefugee_eye_contact.csv')
df_eye_contact.head()

,image_name,boxes,keypoints,labels
0,0.jpg,"[[190.162, 115.2355, 950.4580000000001, 630, 0...","[[[473.39, 533.73, 453.98, 662.89, 453.83, 811...",[1]
1,14.jpg,"[[95.638, 155.724, 239.662, 283, 0.501], [353....","[[[128.74, 139.48, 125.14, 169.49, 126.91, 195...","[1, 0]"
2,15.jpg,"[[82.91, 69.951, 199.54999999999998, 292.12899...","[[[173.31, 176.04, 171.31, 163.2, 159.44, 165....","[0, 0, 1, 1, 1, 0, 0]"
3,11.jpg,[],[],[]
4,17.jpg,"[[0, 111.4925, 356.19599999999997, 360, 0.536]]","[[[280.78, 285.84, 254.44, 294.8, 185.52, 288....",[0]

In [184]:
df_eye_contact.set_index('image_name', inplace=True)
df_eye_contact.rename_axis('image', axis=0,inplace=True)
df_eye_contact.drop(['boxes', 'keypoints'], axis=1, inplace=True)
df_eye_contact.rename(columns={'labels': 'num_eye_contact'}, inplace=True)

In [185]:
# For each array value in the column, replace it with the sum of the array. 
# The array is in string format so we need to convert it to list first. The string is in format '[1,2,3,4]' so delimiter is ','.
df_eye_contact['num_eye_contact'] = df_eye_contact['num_eye_contact'].apply(lambda x: [i for i in x.strip('[]').split(',')])
# Now apply the sum function to each value of 'num_eye_contact' column. The value is either NoneType or a list of numbers. 
# If NoneType, return 0, else return the sum of the list of numbers.   
df_eye_contact['num_eye_contact'] = df_eye_contact['num_eye_contact'].apply(lambda x: 0 if x == [''] else sum([int(i) for i in x]))

In [186]:
df_eye_contact.index = df_eye_contact.index.str.extract('(\d+\.jpg)', expand=False)
df_eye_contact.head()

        num_eye_contact
image
0.jpg                 1
14.jpg                1
15.jpg                3
11.jpg                0
17.jpg                0

In [141]:
predictions_dict['eye_contact'] = df_eye_contact

### Facial expression

In [145]:
df_facial_expression = pd.read_csv('/Users/thomaslim/qca-ig-posts/image-content-features/object-detection/facial-expression/image_201509_onlyrefugee_facial_expressions.csv')
df_facial_expression.set_index('Unnamed: 0', inplace=True)
df_facial_expression.rename_axis('image', axis=0,inplace=True)

In [187]:
df_facial_expression.index = df_facial_expression.index.str.extract('(\d+\.jpg)', expand=False)
df_facial_expression.head()

          angry  disappointed  happy  neutral  sad  surprised
image
9743.jpg    0.0           0.0    0.0      1.0  0.0        0.0
9734.jpg    0.0           0.0    0.0      0.0  0.0        0.0
9740.jpg    0.0           0.0    0.0      0.0  0.0        0.0
9739.jpg    0.0           0.0    0.0      0.0  0.0        0.0
9718.jpg    0.0           0.0    0.0      1.0  0.0        0.0

In [147]:
predictions_dict['facial_expression'] = df_facial_expression

### Number of people

In [188]:
df_num_people = pd.read_csv('/Users/thomaslim/qca-ig-posts/image-content-features/object-detection/num_people/image_201509_onlyrefugee_person.csv')
df_num_people.set_index('Unnamed: 0', inplace=True)
df_num_people.rename_axis('image', axis=0,inplace=True)

df_num_people.index = df_num_people.index.str.extract('(\d+\.jpg)', expand=False)
df_num_people.head()

          num_people
image
9743.jpg           3
9734.jpg           3
9740.jpg           2
9739.jpg           4
9718.jpg           6

In [150]:
predictions_dict['num_people'] = df_num_people

### Police_presence

In [189]:
df_police_presence = pd.read_csv('/Users/thomaslim/qca-ig-posts/image-content-features/object-detection/police-presence/image_201509_onlyrefugee_police.csv')
df_police_presence.set_index('Unnamed: 0', inplace=True)
df_police_presence.rename_axis('image', axis=0,inplace=True)

df_police_presence.index = df_police_presence.index.str.extract('(\d+\.jpg)', expand=False)
df_police_presence.head()

          num_police
image
9743.jpg           3
9734.jpg           5
9740.jpg           5
9739.jpg          12
9718.jpg           6

In [190]:
predictions_dict['police_presence'] = df_police_presence

# Aggregate the dataframes by joining on index.

In [194]:
# Add all the predictions into a single dataframe by joining on the index
for i, df in enumerate(predictions_dict.values()):
    if i == 0:
        df_all_predictions = df
    else:
        df_all_predictions = df_all_predictions.join(df)

In [195]:
df_all_predictions

,cam_angle,color_entropy,AdultFemaleAA,AdultFemaleAsian,AdultFemaleLat,AdultFemaleWhite,AdultMaleAA,AdultMaleAsian,AdultMaleLat,AdultMaleWhite,...,ToddlerMaleAA,ToddlerMaleAsian,ToddlerMaleLat,ToddlerMaleWhite,CS,ECS,FS,LS,MS,num_police
image,,,,,,,,,,,,,,,,,,,,,
6400.jpg,-2.010308,23.428270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,1,0,9
3578.jpg,1.046379,21.359154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,0,0,0,0,4
2666.jpg,0.069447,22.755426,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,1,0,0,3
10447.jpg,-3.701865,21.736025,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,0,0,0,0,4
1409.jpg,-0.451987,22.848593,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2119.jpg,-0.745869,21.982288,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,1,0,1
10338.jpg,0.449280,22.835610,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,1,5
11026.jpg,1.496431,21.676733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,1,0,5
7707.jpg,3.934773,23.159030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,1,0,0,5
1376.jpg,-0.233285,19.548111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,1,0,0,3